@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap");
* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: black;
}

.hero {
  background-image: url(../img/indio_inicio.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: "Black Ops One";
  height: 100vh;
}

.footer {
  display: flex;
  background-color: black;
  color: white;
  justify-content: center;
  padding-block: 40px;
}

.discografia__main {
  background-image: url(../img/indio-discografia.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.discografia {
  max-width: 1490px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 690px;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 50px;
}
.discografia__titulo {
  font-family: "Black Ops One";
  display: flex;
  justify-content: center;
  align-items: center;
  height: 18vh;
  margin: 0;
  text-shadow: 12px 2px 15px rgba(0, 0, 0, 0.877);
  color: white;
}
.discografia__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  transition: all 300ms;
  position: relative;
}
.discografia__img:hover {
  transform: scale(1.15);
}

/* Responsive Tablet Discografia */
@media (max-width: 992px) {
  .discografia {
    padding: 190px;
    margin: 0px;
    display: grid;
    align-items: stretch;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 690px;
    justify-self: center;
    justify-content: center;
    gap: 1rem;
  }
  .discografia__main {
    background-image: url(../img/indio-discografia.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .discografia__item--3 {
    grid-column: span 2;
    grid-row: span 2;
  }
}
/* Responsive Mobile Discografia */
@media (max-width: 720px) {
  .discografia {
    padding: 1rem;
    max-width: 1490px;
    margin: auto;
    display: grid;
    align-items: stretch;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 690px;
    justify-self: center;
    justify-content: center;
    gap: 1rem;
  }
  .discografia__main {
    background-image: url(../img/indio-discografia.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .discografia__item--1 {
    grid-column: span 2;
  }
  .discografia__item--2 {
    grid-column: span 2;
  }
  .discografia__item--3 {
    grid-column: span 2;
  }
  .discografia__item--4 {
    grid-column: span 2;
  }
  .discografia__item--5 {
    grid-column: span 2;
  }
}
.eventos {
  background-image: url(../img/indio4.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 60px;
}
.eventos .evento {
  max-width: 950px;
  margin: auto;
  display: grid;
  align-items: stretch;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 250px;
  justify-self: center;
  justify-content: center;
  gap: 1rem;
}
.eventos .evento__titulo {
  font-family: "Black Ops One";
  display: flex;
  justify-content: center;
  align-items: center;
  height: 18vh;
  margin: 0;
  text-shadow: 12px 2px 15px rgba(0, 0, 0, 0.877);
  color: white;
}
.eventos .evento__item {
  position: relative;
  overflow: hidden;
}
.eventos .evento__item--1 {
  grid-row: span 2;
}
.eventos .evento__item--2 {
  grid-column: span 2;
  grid-row: span 2;
}
.eventos .evento__item--6 {
  grid-column: span 2;
  grid-row: span 2;
}
.eventos .evento__item--10 {
  grid-row: span 2;
}
.eventos .evento__item--11 {
  grid-row: span 2;
}
.eventos .evento__item:hover > .evento__overlay {
  transform: translateY(0);
}
.eventos .evento__item .evento__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: 12px 1px 15px rgba(19, 18, 18, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.616);
}
.eventos .evento__overlay {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  transform: translateY(100%);
  background-color: rgba(0, 0, 0, 0.596);
  transition: transform 0.5s ease;
}
.eventos .evento__link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.eventos .evento__text {
  color: white;
  font-size: 16px;
  text-align: center;
}

/* Responsive Tablet Eventos */
@media (max-width: 992px) {
  .evento {
    max-width: 950px;
    margin: 30px;
    display: grid;
    align-items: stretch;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 250px;
    justify-self: center;
    justify-content: center;
    gap: 1rem;
  }
  .evento__item--1 {
    grid-row: span 4;
    grid-column: span 2;
  }
  .evento__item--2, .evento__item--3, .evento__item--6 {
    grid-row: span 2;
    grid-column: span 1;
  }
  .evento__item--7, .evento__item--8 {
    grid-row: span 2;
  }
}
/* Responsive Mobile Eventos */
@media (max-width: 580px) {
  .evento {
    margin: 30px;
    display: grid;
    align-items: stretch;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 250px;
    justify-self: center;
    justify-content: center;
    gap: 1rem;
  }
  .evento__item--1 {
    grid-row: span 2;
    grid-column: span 2;
  }
  .evento__item--2, .evento__item--3, .evento__item--6, .evento__item--7 {
    grid-row: span 2;
    grid-column: span 1;
  }
  .evento__item--11 {
    grid-row: span 1;
    grid-column: span 1;
  }
  .evento__item--12 {
    grid-row: span 1;
    grid-column: span 2;
  }
}
.contactos {
  background-image: url(../img/fondoContacto.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 60px;
}

.contacto__titulo {
  font-family: "Black Ops One";
  display: flex;
  justify-content: center;
  align-items: center;
  height: 18vh;
  margin: 0;
  text-shadow: 12px 2px 15px rgba(0, 0, 0, 0.877);
  color: white;
}

.contacto {
  background-color: transparent !important;
}

.form-bg {
  background-color: rgba(0, 0, 0, 0.596);
  padding: 20px;
  border-radius: 8px;
}
.form-bg .form-label,
.form-bg .form-text,
.form-bg .btn-black {
  color: white;
}

.btn-black {
  background-color: rgba(0, 0, 0, 0.959);
  color: white;
  border: none;
}
.btn-black:hover {
  background-color: #333;
}/*# sourceMappingURL=estilo.css.map */