.eventos {
    background-image: url(../img/indio4.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 60px;

    .evento {
        max-width: 950px;
        margin: auto;
        display: grid;
        align-items: stretch;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 250px;
        justify-self: center;
        justify-content: center;
        gap: 1rem;

        &__titulo {
            font-family: "Black Ops One";
            display: flex;
            justify-content: center;
            align-items: center;
            height: 18vh;
            margin: 0;
            text-shadow: 12px 2px 15px rgba(0, 0, 0, 0.877);
            color: white;
        }

        &__item {
            position: relative;
            overflow: hidden;

            &--1 {
                grid-row: span 2;
            }

            &--2 {
                grid-column: span 2;
                grid-row: span 2;
            }

            &--6 {
                grid-column: span 2;
                grid-row: span 2;
            }

            &--10 {
                grid-row: span 2;
            }

            &--11 {
                grid-row: span 2;
            }

            &:hover > .evento__overlay {
                transform: translateY(0);
            }

            .evento__img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                box-shadow: 12px 1px 15px rgba(19, 18, 18, 0.5);
                border: 1px solid rgba(0, 0, 0, 0.616);
            }
        }

        &__overlay {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            bottom: 0;
            left: 0;
            right: 0;
            height: 100%;
            transform: translateY(100%);
            background-color: rgba(0, 0, 0, 0.596);
            transition: transform 0.5s ease;
        }

        &__link {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
        }

        &__text {
            color: white;
            font-size: 16px;
            text-align: center;
        }
    }
}

/* Responsive Tablet Eventos */
@media (max-width: 992px) {
    .evento {
        max-width: 950px;
        margin: 30px;
        display: grid;
        align-items: stretch;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 250px;
        justify-self: center;
        justify-content: center;
        gap: 1rem;

        &__item {
            &--1 {
                grid-row: span 4;
                grid-column: span 2;
            }
            &--2, &--3, &--6 {
                grid-row: span 2;
                grid-column: span 1;
            }
            &--7, &--8 {
                grid-row: span 2;
            }
        }
    }
}

/* Responsive Mobile Eventos */
@media (max-width: 580px) {
    .evento {
        margin: 30px;
        display: grid;
        align-items: stretch;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 250px;
        justify-self: center;
        justify-content: center;
        gap: 1rem;

        &__item {
            &--1 {
                grid-row: span 2;
                grid-column: span 2;
            }
            &--2, &--3, &--6, &--7 {
                grid-row: span 2;
                grid-column: span 1;
            }
            &--11 {
                grid-row: span 1;
                grid-column: span 1;
            }
            &--12 {
                grid-row: span 1;
                grid-column: span 2;
            }
        }
    }
}
