.hero{
    background-image: url(../img/indio_inicio.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: $BlackOpsOne;
    height: 100vh;
}